.contact__container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.contact__email-box {
  padding: 1rem 3rem;
  background-color: var(--container-color);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  text-align: center;
  margin: auto;
}

.contact__email {
  font-weight: bold;
  text-decoration: none;

  font-size: 1.2rem;
  font-style: inherit;
  color: black;
}

.contact__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.contact__social {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.contact__social:hover {
  color: var(--primary-color);
}
